__pycache__/
*.py[cod]

.vscode/
.vs/

out/
checkpoints/*
!checkpoints/TMQ_NR_8VP_yf03_kfolds/
!checkpoints/TMQ_NR_8VP_yf03_kfolds/**


*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.pdf

*.html
*.htm
*.json
*.log

.DS_Store
Thumbs.db
